:root {
    --altraq-brand: #f56f11;
    --altraq-hover: #d45e0d;
}

/* Classi utility per il brand */
.brand-bg-color {
    background-color: var(--altraq-brand) !important;
}

.text-brand {
    color: var(--altraq-brand) !important;
}

.btn-brand {
    background-color: var(--altraq-brand);
    color: white;
    border: none;
}

.btn-brand:hover {
    background-color: var(--altraq-hover);
    color: white;
}
